
.advantages_block{
    align-items: center;
    display: grid;
    justify-content: center;
    margin-top: 100px;
}

.advantages{
    gap: 80px;
    background-color: var(--primary-color);
    height: 500px;
    border-radius: 35px;
    align-items: center;
    display: flex;
    padding: 0px 170px 0px 170px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.btn {
    width: 300px;
    height: 50px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: 0.25s;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn:hover {
  background: var(--main-color);
  color: var(--primary-color);
}


#garant:checked ~ .left label[for="garant"],
#service:checked ~ .left label[for="service"],
#experience:checked ~ .left label[for="experience"] {
  background: var(--main-color);
  color: var(--primary-color);
}

.right {
    flex: 1;
    padding: 10px;
    line-height: 1.4;
    background-color: var(--main-color);
    width: 450px;
    height: 170px;
    border-radius: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
}


.text {
  display: none;
}

#garant:checked ~ .right .t-garant {
  display: block;
}

#service:checked ~ .right .t-service {
  display: block;
}

#experience:checked ~ .right .t-experience {
  display: block;
}
