button{
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-family: var(--font-family-text);
  align-items: center;
}
.button:hover{
  transform: translateY(-2px);
}
.button:active {
  transform: scale(0.98);
}

