.contact-hero{ 
    text-align: center; 
    margin-top: 30px;
    h1{
        font-size: 42px;
        color: var(--primary-color);
        margin-bottom: 15px;
    }
    p{
        font-size: 18px; 
        max-width: 650px; 
        margin: 0 auto;
        line-height: 1.6;
    }
}


.contact-wrapper{ 
    max-width: 1100px; 
    margin: 50px auto; 
    display: flex;
    gap: 40px; 
    align-items: center;
    .contact-info{ 
        h2{
           font-size: 32px;
            color: var(--primary-color);
        }
        p{
            font-size: 18px;
            line-height: 1.7;
        }
        .label{
            font-weight: bold;
            color: var(--secondary-color);
        }
    }
   .map{
        width: 600px; 
        align-items: center;
        height: 400px;
        border-radius: 12px;
    } 
}
@media (max-width: 1000px) {
    .contact-wrapper{
        display: grid;
        .map{
            margin: auto;
            width: 100%;
        }
    }
}
@media (max-width: 700px) {
    .contact-wrapper{
        .map{
            height: 200px;
        }
    }
}

