.header{
    display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  
    color: var(--primary-color);
    .navigation{
        display: flex;
        gap: 40px;
        
        .about_us{
        display: flex;
        align-items: center; 
        gap: 20px;
        font-style: normal;
        }
        .contacts{
            display: flex;
            align-items: center; 
            gap: 20px;
        }
    }
}

#theme-toggle {
  display: none;
}


.theme-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.theme-btn .icon {
  font-size: 26px;     
  position: absolute;
  transition: opacity 0.3s ease;
}


.theme-btn .dark-icon {
  opacity: 0;
}


#theme-toggle:checked + .theme-btn .light-icon {
  opacity: 0;
}

#theme-toggle:checked + .theme-btn .dark-icon {
  opacity: 1;
}





.dark-theme {
  background: #111111;
  color: #ffffff;
}

.dark-theme * {
  color: #ffffff;
}

#burger-toggle {
  display: none;
}


.burger {
  display: none;
  width: 34px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger span {
  height: 3px;
  background: var(--primary-color);
  border-radius: 3px;
  transition: 0.3s;
}


.navigation {
  display: flex;
  gap: 24px;
}

@media (max-width: 767px) {
  .burger {
    display: flex;
    position: relative; z-index: 10;
  }
  .logo{
    position: relative; z-index: 1; 
  }
  .navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--main-color);
    padding: 100px 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: right 0.35s ease;
    z-index: 10
  }

  #burger-toggle:checked ~ .navigation {
    right: 0;
  }
#burger-toggle:checked ~ .burger span:nth-child(1) { transform: translateY(10px) rotate(45deg); }
#burger-toggle:checked ~ .burger span:nth-child(2) { opacity: 0; }
#burger-toggle:checked ~ .burger span:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }
  
}