.review{
    width: 500px;
    height: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 35px;
    
    display: grid;
    gap: 10px;
    .rate_name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 50px 0px 50px;
        .name_reviewer{
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-size: 24px;
        }
    }
    .text_review{
        text-align: left;
        font-weight: 400;
        margin: 0px 50px 0px 50px;
    }
}