.review{
    width: 500px;
    height: 300px;
    background-color: none;
    border: 1px solid var(--primary-color);
    border-radius: 35px;
    padding: 50px;
    display: grid;
    gap: 24px;
    .rate_name{
        display: flex;
        align-items: center;
        .name_reviewer{
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-size: 24px;
        }
    }
    
}