
.slider {
  display: flex;
  gap: 95px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-top: 60px;
  padding-bottom: 35px;
}


.slider::-webkit-scrollbar {
  height: 10px;
}
.slider::-webkit-scrollbar-thumb {
  background: var(--slide-color);
  border-radius: 4px;
  
}


.slide {
    flex: 0 0 20%;     
    scroll-snap-align: center;
}

