<div class="advantages_block">
    
    <div class="advantages">
        
        <input type="radio" name="tab" id="garant" checked hidden>
        <input type="radio" name="tab" id="service" hidden>
        <input type="radio" name="tab" id="experience" hidden>
        <div class="left">
            <label for="garant" class="btn">Гарантия</label>
            <label for="service" class="btn">Сервис</label>
            <label for="experience" class="btn">Опыт</label>
        </div>

        <div class="right">
            <span class="text t-garant">
                Мы гарантируем безопасное и комфортное путешествие: все услуги предоставляются согласно договору.
            </span>
            <span class="text t-service">
                Наш сервис построен на внимании к деталям мы берём на себя все организационные заботы, чтобы вы наслаждались отдыхом.
            </span>
            <span class="text t-experience">
                Наш опыт: это тысячи довольных клиентов и отточенные до мелочей маршруты по всему миру.
            </span>
        </div>
    </div>
</div>