<section class="hero-banner">
    <div class="content">
        <h1 class="title">
            Путешествуйте с <span>ТерраСкай</span></h1>

        <p>Создаем уникальные туры по всему миру — легко, красиво и вдохновляюще.</p>

        <a href="#tour" >@@include('../components/_button.html', {
                "border-radius": "15px",
                "width": "320px",
                "height": "70px",
                "title": "Подобрать тур",
                "color": "var(--secondary-color)",
                "font-size": "20px",
                "font-weight": "700",
                "text-color": "var(--main-color)",
                "border": "0px"
            })</a>
  </div>
  <div class="hero-banner">
        <img src="assets/images/hero_img.webp">
  </div>

</section>