<div class="slider-conteiner">
<div class="slider">
    <div class="slide">
    @@include('../components/_card.html', {
        "id": "1",
        "title": "Венеция",
        "text": "Погрузись в сказочный город на воде с прогулками по живописным каналам",
        "img": "assets/images/venezia.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "id": "2",
        "title": "Сан-Пауло",
        "text": "Погружение в динамику крупнейшего мегаполиса Бразилии с осмотром контрастных районов",
        "img": "assets/images/San-Paulo.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "id": "3",
        "title": "Барбадос",
        "text": "Путешествие по живописному карибскому острову с белоснежными пляжами",
        "img": "assets/images/Barbados.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "id": "4",
        "title": "Кипр",
        "text": "Средиземноморский остров, где сочетаются лазурные пляжи, античные руины, чудесные замки",
        "img": "assets/images/Cuprus.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "id": "5",
        "title": "Франция",
        "text": "Величественный Париж с Эйфелевой башней и Лувром, роскошные дворцы Версаля.",
        "img": "assets/images/France.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "id": "6",
        "title": "Испания",
        "text": "Путешествие по стране солнечного побережья и богатой истории",
        "img": "assets/images/Spain.webp"
    })
    </div>
</div>
</div>