<div class="slider-conteiner">
<div class="slider">
    <div class="slide">
    @@include('../components/_card.html', {
        "title": "Венеция",
        "text": "Погрузись в сказочный город на воде с прогулками по живописным каналам",
        "img": "../../assets/images/venezia.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "title": "Венеция",
        "text": "Погрузись в сказочный город на воде с прогулками по живописным каналам",
        "img": "../../assets/images/San-Paulo.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "title": "Венеция",
        "text": "Погрузись в сказочный город на воде с прогулками по живописным каналам",
        "img": "../../assets/images/Barbados.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "title": "Венеция",
        "text": "Погрузись в сказочный город на воде с прогулками по живописным каналам",
        "img": "../../assets/images/Cuprus.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "title": "Венеция",
        "text": "Погрузись в сказочный город на воде с прогулками по живописным каналам",
        "img": "../../assets/images/France.webp"
    })
    </div>
    <div class="slide">
    @@include('../components/_card.html', {
        "title": "Венеция",
        "text": "Погрузись в сказочный город на воде с прогулками по живописным каналам",
        "img": "../../assets/images/Spain.webp"
    })
    </div>
</div>
</div>