// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';
@use 'base/fonts';
// ==== 3. Layout ====
@use 'layout/container';
// ==== 4. Components ====
@use 'components/button';
@use 'components/header';
@use 'components/index';
@use 'components/hero-banner';
@use 'components/card';
@use 'components/slider';
@use 'components/advantages';
@use 'components/review';
@use 'components/reviews_block';
@use 'components/footer';
@use 'components/about';
@use 'components/form-contact';
@use 'components/contacts';
@use 'components/tour';
