// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';
@use 'base/fonts';
// ==== 3. Layout ====
@use 'layout/container';
// ==== 4. Components ====
@use 'components/button';
@use 'components/header';
@use 'components/index';
@use 'components/hero-banner';
@use 'components/card';
@use 'components/slider';
@use 'components/advantages';
@use 'components/review';

body {
  background-color: var(--main-color);
  font-family: var(--font-family-text);
  overflow-x:hidden;
  margin-left: 100px;
  margin-right: 100px;
}