// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';
@use 'base/fonts';
// ==== 3. Layout ====
@use 'layout/container';
// ==== 4. Components ====
@use 'components/button';

body {
  background-color: var(--main-color);
  font-family: var(--font-family-main);
}